{% extends "AdminBundle::base_layout.html.twig" %}
{% block body %}
    <div class="container">
            {% for menu in menues %}
                <div class="row">
                    <div class="col-md-12">
                        {{ menu.nombre }} - {{ menu.cliente.nombre }} - {{ menu.cliente.codigoCuenta }}
                        {{ menu.dia | date('d-m-Y') }}
                    </div>
                </div>
                <div class="row">
                    {% for plato in menu.platos %}
                        <div class="col-md-2">
                            {{plato.nombre}}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

{% endblock %}